body{
    background-color:red;
}

h1{
    font-size: 28px;
    font-family: Helvetica;
    border: 1px solid black;
    color:white;
}

@media (min-width: 1024px) {
    h1{
    font-size: 36px;
    border: 2px solid white;
}
}


#terug{
    color:black;
}

.next{
    color:white;
}


.navbar li{
    margin:2%;
    display:inline;
}

a{
    color:white
}